/* small screen  */
@media  (max-width: 767px) {
    h1{
        background-color: brown;
        color: white;
        font-size: 18px;
        padding: 20px;
        text-align: center;

    }
    h1::before{
        content: "This is small screen ";
    }
    .gallery-item{
        flex: 1 0 100%;
    }
}
/* medium screen  */
@media (min-width: 768px) and (max-width: 1023px){
    h1{
        background-color: green;
        color: white;
        font-size: 22px;
        padding: 30px;
        text-align: center;

    }
    h1::before{
        content: "This is medium screen ";
    }
    .gallery-item{
        flex: 1 0 45%;
    }
}
/* large screen  */
@media (min-width: 1024px) {
    h1{
        background-color: #f0530a;
        color: white;
        font-size: 24px;
        padding: 40px;
        text-align: center;

    }
    h1::before{
        content: "This is large screen ";
    } 
}